*{
    margin: 0;
    padding: 0;
}
.nav{
    margin: 0 auto;
    padding: 1px;
   
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: rgb(83, 122, 122);
}

.nav-child{
    margin: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 20px;
    
    
}
.icon{
    padding: 10px;
    padding-right: 20px;
}
.ul-nav{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    min-height: 2px;
    margin: 20px;
   
}

.nav-child2{
    width: 20px;
    min-height: 20px;
    
   
}
.nav-child2:hover{
    font-size: x-large;
    color: blue;
    border-radius: 9px;

}

.nav-child3{
    padding: 15px;
}
.nav-child3:hover{
    font-size: x-large;
   
  
}
.section-ch{
    background-image: url(https://thumbs.dreamstime.com/b/healthy-food-background-fruits-vegetables-cereal-nuts-superfood-dietary-balanced-vegetarian-eating-products-kitchen-143677456.jpg);
width: 100%;


}
.article{
    margin: 5px;
    padding: 50px;
    background: rebeccapurple;
     display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    justify-content: center;
    
    
}
.article-child{
    background-color: aqua;
    padding: 50px;
    margin: 0 auto;
    display: grid;
  
    
   
}
.img-div{
    width: 200px;
    height: 100px;
}









.footer{
    background-color: forestgreen;
    margin: 5px;
    padding: 80px;
 display: grid;
    grid-template-columns: repeat(4,1fr) 350px;
    align-items: center;
    justify-content: start;
   
}

.footer-child{
   display: grid;
  
   background-color: lightcoral;
}
/* .footer-child:hover{
    font-size: x-large;
     color: blue;
} */
.d{
  
    padding: 10px;
    display: grid;
   
}
.e{
    /* background-color:lightblue; */
    padding: 2px;
}
